<div class="container">
  <div [hidden]="submitted">
    <h1>Neuer Einsatz</h1>
    <form (ngSubmit)="onSubmit()" #rescueOperationForm="ngForm">

      <div class="form-group">
        <label for="patient">Patient</label>
        <select class="form-control" id="patient"
          required
          [(ngModel)]="rescueOperation.patient" name="patient"
          #patient="ngModel">
          @for (patient of patients; track patient) {
            <option [value]="patient">{{ patient }}</option>
          }
        </select>
        <div [hidden]="patient.valid || patient.pristine" class="alert alert-danger">
          Patient is required
        </div>
      </div>

      <div class="form-group">
        <label for="rescueType">Typ</label>
        <select class="form-control" id="rescueType"
          required
          [(ngModel)]="rescueOperation.rescueType" name="rescueType"
          #rescueType="ngModel">
          @for (rescueType of types; track rescueType) {
            <option [value]="rescueType">{{ rescueType }}</option>
          }
        </select>
        <div [hidden]="rescueType.valid || rescueType.pristine" class="alert alert-danger">
          Type is required
        </div>
      </div>

      <div class="form-group">
        <label for="rescueCategory">Kategorie</label>
        <select class="form-control" id="rescueCategory"
          required
          [(ngModel)]="rescueOperation.rescueCategory" name="rescueCategory"
          #rescueCategory="ngModel">
          @for (rescueCategory of categories; track rescueCategory) {
            <option [value]="rescueCategory">{{ rescueCategory }}
            </option>
          }
        </select>
        <div [hidden]="rescueCategory.valid || rescueCategory.pristine" class="alert alert-danger">
          Category is required
        </div>
      </div>

      <div class="form-group">
        <label for="operationalLocation">Einsatzort</label>
        <input type="text" class="form-control" id="operationalLocation"
          [(ngModel)]="rescueOperation.operationalLocation" name="operationalLocation"
          minlength="3">
      </div>

      <div class="form-group">
        <label for="destinationLocation">Zielort</label>
        <input type="text" class="form-control" id="destinationLocation"
          [(ngModel)]="rescueOperation.destinationLocation" name="destinationLocation"
          minlength="3">
      </div>

      <div class="form-group">
        <label for="tour">Tour</label>
        <input type="text" class="form-control" id="tour"
          [formControl]="tourControl"
          [matAutocomplete]="autoTour"
          minlength="3">
        <mat-autocomplete #autoTour="matAutocomplete" [displayWith]="displayTour">
          @for (tour of filteredTours | async; track tour) {
            <mat-option [value]="tour">
              {{ tour.tourShift === 'DAY' ? 'Tag' : 'Nacht' }} - {{ tour.car }} - {{ tour.driver?.name }} - {{ tour.tpf?.name }} - {{ tour.third?.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>

      @if (!rescueOperation.id) {
        <button
          type="button"
          class="btn btn-default"
          [disabled]="!rescueOperationForm.form.valid"
                    (click)="newOperation();
              rescueOperationForm.reset()"
          >
          Anlegen
        </button>
      }
      @if (rescueOperation.id) {
        <button
          type="button"
          class="btn btn-default"
          [disabled]="!rescueOperationForm.form.valid"
                    (click)="updateOperation();
              rescueOperationForm.reset()"
          >
          Aktualisieren
        </button>
      }
    </form>
  </div>

</div>