<div class="container">
  <div [hidden]="submitted">
    <h1>Neue CarTour</h1>
    <form (ngSubmit)="onSubmit()" #tourForm="ngForm">

      <div class="form-group">
        <label for="type">Typ</label>
        <select class="form-control" id="type"
          required
          [(ngModel)]="tour.tourType" name="type"
          #type="ngModel">
          @for (type of getTourTypes(); track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
        <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
          Type is required
        </div>
      </div>

      <div class="form-group">
        <label for="shift">Schicht</label>
        <select class="form-control" id="shift"
          required
          [(ngModel)]="tour.tourShift" name="shift"
          #shift="ngModel">
          @for (tourShift of getTourShifts(); track tourShift) {
            <option [value]="tourShift">{{ tourShift === 'DAY' ? 'Tagdienst' : 'Nachtdienst' }}</option>
          }
        </select>
        <div [hidden]="shift.valid || shift.pristine" class="alert alert-danger">
          Shift is required
        </div>
      </div>

      <div class="form-group">
        <label for="car">Auto</label>
        <input type="text" class="form-control" id="car"
          [formControl]="carControl"
          [matAutocomplete]="car"
          minlength="6">
        <mat-autocomplete #car="matAutocomplete">
          @for (car of filteredCars | async; track car) {
            <mat-option [value]="car">
              {{ car }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>

      <div class="form-group">
        <label for="driver">Fahrer</label>
        <input type="text" class="form-control" id="driver"
          [formControl]="driverControl"
          [matAutocomplete]="autoDriver"
          minlength="3">
        <mat-autocomplete #autoDriver="matAutocomplete">
          @for (person of filteredDrivers | async; track person) {
            <mat-option [value]="person.number">
              {{ person.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>

      <div class="form-group">
        <label for="tpf">TPF</label>
        <input type="text" class="form-control" id="tpf"
          [formControl]="tpfControl"
          [matAutocomplete]="autoTpf"
          minlength="3">
        <mat-autocomplete #autoTpf="matAutocomplete">
          @for (person of filteredTpf | async; track person) {
            <mat-option [value]="person.number">
              {{ person.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>

      <div class="form-group">
        <label for="third">Beifahrer</label>
        <input type="text" class="form-control" id="third"
          [formControl]="thirdControl"
          [matAutocomplete]="autoThird"
          minlength="3">
        <mat-autocomplete #autoThird="matAutocomplete">
          @for (person of filteredThird | async; track person) {
            <mat-option [value]="person.number">
              {{ person.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </div>

      <div class="form-group">
        <label for="start">Dienststart</label>
        <input type="datetime-local" class="form-control" id="start"
          [(ngModel)]="startDateTime" name="start">
      </div>

      <div class="form-group">
        <label for="end">Dienstende</label>
        <input type="datetime-local" class="form-control" id="end"
          [(ngModel)]="endDateTime" name="end">
      </div>

      <div class="form-group">
        <label for="visibleUntil">Sichtbar bis</label>
        <input type="datetime-local" class="form-control" id="visibleUntil"
          [(ngModel)]="visibleUntilDateTime" name="visibleUntil">
      </div>

      @if (!tour.id) {
        <button
          type="button"
          class="btn btn-default"
          [disabled]="!tourForm.form.valid"
                    (click)="newTour();
                    tourForm.reset()"
          >
          Anlegen
        </button>
      }
      @if (tour.id) {
        <button
          type="button"
          class="btn btn-default"
          [disabled]="!tourForm.form.valid"
                    (click)="newTour();
                    tourForm.reset()"
          >
          Aktualisieren
        </button>
      }
    </form>
  </div>

</div>
