<mat-form-field>
    <mat-label>Einsatzort</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.rescueOperation.operationalLocation" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Zielort</mat-label>
    <textarea matInput [(ngModel)]="data.rescueOperation.destinationLocation"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ rescueOperation: data.rescueOperation }">Anlegen</button>
    <button mat-button (click)="cancel()">Abbrechen</button>
  </div>