<mat-toolbar>
  <img width="20%" src="./assets/logo_start.png">
  <span>RK Strobl Journalblatt</span>
  <span style="flex: 1 1 auto;"></span>
  @if (user === null) {
    <button class="auth-buttons" (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  }
  @if (user != null) {
    <button class="auth-buttons" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>

@if (user === null) {
  <div>
    <p>Aktuell ist kein Benutzer angemeldet!</p>
  </div>
}

@if (user !== null) {
  <div class="content-wrapper">
    <button [hidden]="operationsView" (click)="activateOperationsView()" mat-button>
      <mat-icon>subject</mat-icon>
      Einsatzübersicht
    </button>
    <button [hidden]="teamView" (click)="activateTeamView()" mat-button>
      <mat-icon>people_outline</mat-icon>
      Dienstmannschaft
    </button>
  </div>
}

@if (!operationsView && user !== null) {
  <tour-modal
    [tours]="tours"
    (tourAdded)="createTour($event)"
    (tourDeleted)="deleteTour($event)"
    (tourChanged)="updateTour($event)"
    >
  </tour-modal>
}

@if (operationsView && user !== null) {
  <rescue-operation-modal
    [tours]="tours"
    >
  </rescue-operation-modal>
}
