<mat-toolbar>
    <img width="20%" src="./assets/logo_start.png">
    <span>RK Strobl Journalblatt</span>
</mat-toolbar>

<div class="content-wrapper">

    <button [hidden]="operationsView" (click)="activateOperationsView()" mat-button>
        <mat-icon>subject</mat-icon>
        Einsatzübersicht
    </button>

    <button [hidden]="teamView" (click)="activateTeamView()" mat-button>
        <mat-icon>people_outline</mat-icon>
        Dienstmannschaft
    </button>

</div>

<ng-container *ngIf="!operationsView">
    <tour-modal
        [tours]="tours"
        (tourAdded)="createTour($event)"
        (tourDeleted)="deleteTour($event)"
        (tourChanged)="updateTour($event)"
    >
    </tour-modal>
</ng-container>

<ng-container *ngIf="operationsView">
    <rescue-operation-modal
        [tours]="tours"
    >
    </rescue-operation-modal>
</ng-container>
