<div class="car-tour">
    <div class="container">
        <div style="font: bold; margin-bottom: 10px">
            {{ tourType }} - Auto: {{ car }}
        </div>
        <table mat-table [dataSource]="dataSourceTours" class="mat-elevation-z8">
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTours"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsTours"></tr>
            <ng-container matColumnDef="driver">
                <th mat-header-cell *matHeaderCellDef> Fahrer</th>
                <td mat-cell *matCellDef="let tour"> {{ tour.driver?.number }}</td>
            </ng-container>
            <ng-container matColumnDef="tpf">
                <th mat-header-cell *matHeaderCellDef> Transportführer</th>
                <td mat-cell *matCellDef="let tour"> {{ tour.tpf?.number }}</td>
            </ng-container>
            <ng-container matColumnDef="third">
                <th mat-header-cell *matHeaderCellDef> Beifahrer</th>
                <td mat-cell *matCellDef="let tour"> {{ tour.third?.number }}</td>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let tour" class="action-link">
                    <button (click)="updateTour(tour)">
                        <mat-icon>edit</mat-icon>
                    </button> &nbsp;
                    <button (click)="deleteTour(tour)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
        <div style="display: flex; justify-content: center; margin-bottom: 10px">
            <button (click)="newTour()" mat-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>