<div class="tour-modal">
    <div class="shift">
        <h3>
            Tagdienst
            <button (click)="toggleExpansionDayShift()" mat-button>
                <mat-icon *ngIf="expandDayShift">expand_more</mat-icon>
                <mat-icon *ngIf="!expandDayShift">expand_less</mat-icon>
            </button>
        </h3>
        <car-tour
                *ngIf="!expandDayShift"
                [tourType]="TourType.RTW"
                [tourShift]="TourShift.DAY"
                [car]="'44.201'"
                [tours]="getToursByTypeShiftAndCar(TourType.RTW, TourShift.DAY, '44.201')"
                (addTour)="createTour($event)"
                (removeTour)="deleteTour($event)"
        >
        </car-tour>
        <car-tour
                *ngIf="!expandDayShift"
                [tourType]="TourType.KTW"
                [tourShift]="TourShift.DAY"
                [car]="'44.301'"
                [tours]="getToursByTypeShiftAndCar(TourType.KTW, TourShift.DAY, '44.201')"
                (addTour)="createTour($event)"
                (removeTour)="deleteTour($event)"
        >
        </car-tour>
        <car-tour
                *ngIf="!expandDayShift"
                [tourType]="TourType.BTW"
                [tourShift]="TourShift.DAY"
                [car]="'20.502'"
                [tours]="getToursByTypeShiftAndCar(TourType.BTW, TourShift.DAY, '44.201')"
                (addTour)="createTour($event)"
                (removeTour)="deleteTour($event)"
        >
        </car-tour>
    </div>

    <div class="shift">
        <h3>
            Nachtdienst
            <button (click)="toggleExpansionNightShift()" mat-button>
                <mat-icon *ngIf="expandNightShift">expand_more</mat-icon>
                <mat-icon *ngIf="!expandNightShift">expand_less</mat-icon>
            </button>
        </h3>
        <car-tour
                *ngIf="!expandNightShift"
                [tourType]="TourType.RTW"
                [tourShift]="TourShift.NIGHT"
                [car]="'44.201'"
                [tours]="getToursByTypeShiftAndCar(TourType.RTW, TourShift.NIGHT, '44.201')"
                (addTour)="createTour($event)"
                (removeTour)="deleteTour($event)"
        >
        </car-tour>
    </div>
</div>