<div class="tour-modal">
  <div class="shift">
    <h3>
      Tagdienst
      <button (click)="toggleExpansionDayShift()" mat-button>
        @if (expandDayShift) {
          <mat-icon>expand_more</mat-icon>
        }
        @if (!expandDayShift) {
          <mat-icon>expand_less</mat-icon>
        }
      </button>
      <button (click)="newTour()" mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </h3>

    @if (!expandDayShift) {
      @for (carNumber of getCarNumbersForShift(TourShift.DAY); track carNumber) {
        @for (tourType of getTourTypesForShiftAndCar(TourShift.DAY, carNumber); track tourType) {
          <car-tour
            [tourType]="tourType"
            [tourShift]="TourShift.DAY"
            [car]="carNumber"
            [tours]="getToursByTypeShiftAndCar(tourType, TourShift.DAY, carNumber)"
            (addTour)="createTour($event)"
            (removeTour)="deleteTour($event)"
            (changeTour)="updateTour($event)"
            >
          </car-tour>
        }
      }
    }
  </div>

  <div class="shift">
    <h3>
      Nachtdienst
      <button (click)="toggleExpansionNightShift()" mat-button>
        @if (expandNightShift) {
          <mat-icon>expand_more</mat-icon>
        }
        @if (!expandNightShift) {
          <mat-icon>expand_less</mat-icon>
        }
      </button>
      <button (click)="newTour()" mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </h3>

    @if (!expandNightShift) {
      @for (carNumber of getCarNumbersForShift(TourShift.NIGHT); track carNumber) {
        @for (tourType of getTourTypesForShiftAndCar(TourShift.NIGHT, carNumber); track tourType) {
          <car-tour
            [tourType]="tourType"
            [tourShift]="TourShift.NIGHT"
            [car]="carNumber"
            [tours]="getToursByTypeShiftAndCar(tourType, TourShift.NIGHT, carNumber)"
            (addTour)="createTour($event)"
            (removeTour)="deleteTour($event)"
            (changeTour)="updateTour($event)"
            >
          </car-tour>
        }
      }
    }
  </div>
</div>
